
/**
 * Trackjs logo.
 */

.logo[data-logo="Trackjs"] {
  width: 2.8169253812636166em;
}

.logo[data-logo="Trackjs"] > * {
  background-image: url(images/logo.svg);
  margin: 0 0 0 0;
}

.logo[data-logo="Trackjs"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="Trackjs"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}